@{
    ViewData["Title"] = "Create employee";
}

@Html.AntiForgeryToken()

<div class="row justify-content-center">
    <div class="col-md-4">
        <section class="card mt-5">
            <div class="card-header">
                <h3 class="card-title">Create employee</h3>
            </div>
            <div class="card-body">
                <form id="create-employee-form">
                    <div class="form-group mb-3">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" required maxlength="100" />
                    </div>

                    <div class="form-group mb-3">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" required maxlength="100" />
                    </div>

                    <div class="form-group mb-3">
                        <label for="type" class="form-label">Type</label>
                        <select id="type" name="type" class="form-control" required>
                            <option value="">-- Select --</option>
                            <option value="Manager">Manager</option>
                            <option value="General">General</option>
                        </select>
                    </div>

                    <div id="form-errors" class="text-danger mb-3"></div>

                    <div class="form-group d-grid">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="~/js/employee-create.js"></script>
}
